In [1]:
import mysql.connector 
from mysql.connector import Error

In [2]:
def crear_conexion(nombre_host, usuario, contrasena, basedatos):
    conexion = None
    try:
        conexion = mysql.connector.connect(
                host = nombre_host,
                user = usuario,
                passwd = contrasena,
                database = basedatos
                )
        print('Conexión realizada satisfactoriamente')
    except Error as e:
        print("Error al establecer conexión: ",e)
    
    return conexion

conexion=crear_conexion('34.122.51.150','alvaroriverae','alvaroriverae','alvaroriverae')

Conexión realizada satisfactoriamente

In [3]:
conexion.close()

In [4]:
def crear_conexion(nombre_host, usuario, contrasena, basedatos):
    conexion = None
    try:
        conexion = mysql.connector.connect(
                host = nombre_host,
                user = usuario,
                passwd = contrasena,
                database = basedatos
                )
        print('Conexión realizada satisfactoriamente')
    except Error as e:
        print("Error al establecer conexión: ",e)
    
    return conexion

conexion=crear_conexion('34.122.51.150','alvaroriverae','alvaroriverae','alvaroriverae')

if(conexion != None):
    cursor = conexion.cursor(dictionary=True)
    result = None
    try:
        cursor.execute("SELECT * FROM vendedor")
        result = cursor.fetchall()        
    except Error as e:
        print("Se ha presentado error: ",e)
    
    for row in result:
        print(row)
else:
    print('No es posible ejecutar la consulta')

Conexión realizada satisfactoriamente
{'id': 1, 'nombres': 'Carmen', 'sexo': 'F', 'fechanacimiento': datetime.date(1980, 12, 30), 'identificacion': '1236985'}
{'id': 2, 'nombres': 'Jesus', 'sexo': 'M', 'fechanacimiento': datetime.date(1990, 2, 15), 'identificacion': '1257485369'}
{'id': 3, 'nombres': 'Luisa', 'sexo': 'F', 'fechanacimiento': datetime.date(1985, 6, 1), 'identificacion': '1201474100'}
{'id': 4, 'nombres': 'Joaquin', 'sexo': 'M', 'fechanacimiento': datetime.date(1982, 3, 12), 'identificacion': '96320582'}
{'id': 5, 'nombres': 'Maria', 'sexo': 'F', 'fechanacimiento': datetime.date(1984, 2, 28), 'identificacion': '789325640'}
{'id': 6, 'nombres': 'Pedro', 'sexo': 'M', 'fechanacimiento': datetime.date(1987, 7, 6), 'identificacion': '76584239'}
{'id': 7, 'nombres': 'Lola', 'sexo': 'F', 'fechanacimiento': datetime.date(1980, 9, 4), 'identificacion': '22222'}

In [ ]:
conexion.close()

In [ ]:
def consulta_registros(tabla):
    if(conexion != None):
        cursor = conexion.cursor(dictionary=True)
        result = None
        try:
            cursor.execute("SELECT * FROM " + tabla)
            result = cursor.fetchall()        
        except Error as e:
            print("Se ha presentado error: ",e)
        for row in result:
            print(row)
    else:
        print('No es posible ejecutar la consulta')

conexion=crear_conexion('34.122.51.150','alvaroriverae','alvaroriverae','alvaroriverae')

consulta_registros('vendedor')
consulta_registros('tipoinmueble')
consulta_registros('ciudad')

In [ ]:
conexion.close()

In [ ]:
def crear_conexion(nombre_host, usuario, contrasena, basedatos):
    conexion = None
    try:
        conexion = mysql.connector.connect(
                host = nombre_host,
                user = usuario,
                passwd = contrasena,
                database = basedatos
                )
        print('Conexión realizada satisfactoriamente')
    except Error as e:
        print("Error al establecer conexión: ",e)
    
    return conexion

conexion=crear_conexion('34.122.51.150','alvaroriverae','alvaroriverae','alvaroriverae')

sql = "INSERT INTO vendedor(id,nombres,sexo,fechanacimiento,identificacion) values(7,'Lola','F','1980-09-04','22222')"

cursor = conexion.cursor()
cursor.execute(sql)
conexion.commit()
print("Registro ingresado satisfactoriamente")

In [ ]:
conexion.close()